@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import 'common/_variables';

.repos-data {
  margin-top: 10px;
  .fas {
    color: $medium-gray;
    margin-right: 10px;
    width: 20px;
  }
  .branches-wrapper {
    margin-left: 20px;
  }
  .data-row {
    margin-top: 10px;
  }
  .data-label {
    margin-left: 5px;
    color: $medium-gray;
    &.main {
      color: #252525;
      font-weight: bold;
      font-size: 18px;
      margin-left: 0;
    }
  }
}
